<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Spotifried</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.datatables.net/v/bs5/dt-2.0.8/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Spotifried.styles.css" asp-append-version="true" />
</head>

<body>
    <header class="px-4 lg:px-6 h-14 flex items-center">
        <a class="flex items-center justify-center" href="#" rel="ugc">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="h-6 w-6 text-green-500">
                <path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path>
                <path d="m12 15 5 6H7Z"></path>
            </svg>
            <span class="ml-2 font-bold">Spotifried</span>
        </a>
        <nav class="ml-auto flex gap-4 sm:gap-6">
            <a class="text-sm font-medium hover:underline underline-offset-4 text-muted-foreground" href="#" rel="ugc">
                Premium
            </a>
            <a class="text-sm font-medium hover:underline underline-offset-4 text-muted-foreground" href="#" rel="ugc">
                Support
            </a>
            <a class="text-sm font-medium hover:underline underline-offset-4 text-muted-foreground" href="#" rel="ugc">
                Download
            </a>
        </nav>
    </header>

    <main role="main" class="flex-1">
        @RenderBody()
    </main>

    <footer class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-4 md:px-6 border-t">
        <p class="text-xs text-muted-foreground">© 2024 Spotifried. All rights reserved.</p>
        <nav class="sm:ml-auto flex gap-4 sm:gap-6">
            <a class="text-xs hover:underline underline-offset-4 text-muted-foreground" href="#" rel="ugc">
                Terms of Service
            </a>
            <a class="text-xs hover:underline underline-offset-4 text-muted-foreground" asp-area="" asp-controller="Home" asp-action="Privacy">
                Privacy Policy
            </a>
            <a class="text-xs hover:underline underline-offset-4 text-muted-foreground" href="#" rel="ugc">
                Cookie Policy
            </a>
        </nav>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-2.0.8/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
