@model UserModel
@{
    ViewData["Title"] = "Adicionar Usuário";
}


<h1 class="fs-1">Adicionar Usuário</h1>

<form asp-controller="User" asp-action="AddUser" method="post">
    <div class="d-flex gap-5">
        <div class="mb-3">
            <label for="name" class="form-label">Nome</label>
            <input type="text" asp-for="Name" class="form-control" id="name">
            @Html.ValidationMessageFor(u => u.Name)
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" asp-for="Username" class="form-control" id="username">
            @Html.ValidationMessageFor(u => u.Username)
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" asp-for="Email" class="form-control" id="email">
            @Html.ValidationMessageFor(u => u.Email)
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" asp-for="Password" class="form-control" id="password">
            @Html.ValidationMessageFor(u => u.Password)
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar Usuário</button>
</form>