@model List<dynamic>
@{
    ViewData["Title"] = "Perfil";
}

<div class="my-12">
    <section class="py-8 md:py-24">
        <div class="container">
            <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
                <div class="col-span-2 lg:col-span-1">
                    <div class="flex h-full flex-col justify-center space-y-4">
                        <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">Top Músicas</h2>
                        <p class="text-muted-foreground md:text-xl">
                            Só as melhores das melhores!
                        </p>
                    </div>
                </div>
                <div class="col-span-2 lg:col-span-2">
                    <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
                        @foreach (var item in Model[0])
                        {
                            <a href="#"
                                class="group flex flex-col items-center gap-2 rounded-lg bg-background p-4 bg-gray-100 transition-colors hover:bg-accent hover:text-accent-foreground">
                                <div class="h-20 w-20 rounded-lg bg-gray-200 bg-muted-foreground/10"></div>
                                <div class="text-sm font-medium group-hover:underline">Album 1</div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8 md:py-24 bg-gray-200">
        <div class="container">
            <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
                <div class="col-span-2 lg:col-span-1">
                    <div class="flex h-full flex-col justify-center space-y-4">
                        <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">Top Álbums</h2>
                        <p class="text-muted-foreground md:text-xl">
                            Porque somente uma música não é o suficiente!
                        </p>
                    </div>
                </div>
                <div class="col-span-2 lg:col-span-2">
                    <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
                        @foreach (var item in Model[1])
                        {
                            <a href="#"
                                class="group flex flex-col items-center gap-2 rounded-lg bg-background p-4 bg-gray-100 transition-colors hover:bg-accent hover:text-accent-foreground">
                                <div class="h-20 w-20 rounded-lg bg-gray-200 bg-muted-foreground/10"></div>
                                <div class="text-sm font-medium group-hover:underline">Album 1</div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8 md:py-24">
        <div class="container">
            <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
                <div class="col-span-2 lg:col-span-1">
                    <div class="flex h-full flex-col justify-center space-y-4">
                        <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">Top Artistas</h2>
                        <p class="text-muted-foreground md:text-xl">
                            Esses são os artistas que não saem do seu coração!
                        </p>
                    </div>
                </div>
                <div class="col-span-2 lg:col-span-2">
                    <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
                        @foreach (var item in Model[2])
                        {
                            <a href="#"
                                class="group flex flex-col items-center gap-2 rounded-lg bg-background p-4 bg-gray-100 transition-colors hover:bg-accent hover:text-accent-foreground">
                                <div class="h-20 w-20 rounded-lg bg-gray-200 bg-muted-foreground/10"></div>
                                <div class="text-sm font-medium group-hover:underline">Album 1</div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>