@model UserLoginModel
@{
    Layout = "_LayoutNotLogged";
    ViewData["Title"] = "Login";

    var alert = TempData["Alert"] as Dictionary<string, string>;
    if (alert != null)
    {
        string alertType = alert.ContainsKey("Type") ? alert["Type"] : "info";
        string alertMessage = alert.ContainsKey("Message") ? alert["Message"] : "";
    }
}

@if (alert != null)
{
    <div class="alert alert-@alert["Type"] alert-dismissible" role="alert">
        @alert["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form asp-controller="Login" asp-action="Login" method="post">
    <div class="mb-3">
        <label for="Username" class="form-label">Usuário</label>
        <input type="text" asp-for="Username" class="form-control" id="Username">
        @Html.ValidationMessageFor(u => u.Username)
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input type="password" asp-for="Password" class="form-control" id="password">
        @Html.ValidationMessageFor(u => u.Password)
    </div>
    <button type="submit" class="btn btn-primary">Fazer Login</button>
</form>