@{
    ViewData["Title"] = "Adicionar Música";
}


<h1 class="fs-1">Adicionar Música</h1>

<form>
    <div class="d-flex gap-5">
        <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input type="text" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="album" class="form-label">Álbum</label>
            <input type="text" class="form-control" id="album">
        </div>
        <div class="mb-3">
            <label for="artist" class="form-label">Artista</label>
            <input type="text" class="form-control" id="artist">
        </div>
        <div class="mb-3">
            <label for="year" class="form-label">Ano</label>
            <input type="text" class="form-control" id="year">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Adicionar música</button>
</form>