@model dynamic?
@{
    ViewData["Title"] = "Álbum";
}

<section class="px-[10%] w-full">
    <div class="flex flex-row px-[10%] gap-5 justify-between mb-2 py-2">
        <div class="w-full max-w-4xl mx-auto px-4">
            <form class="flex items-center" method="post">
                <input id="searchInput" name="searchInput"
                    class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 flex-1 mr-4 bg-[#121212] text-white"
                    placeholder="Buscar por artista, álbum, música..." type="text" />
                <input type="hidden" id="searchType" name="searchType" value="Tudo">
                <button id="searchButton" class="text-white bg-[#1DB954] btn py-2 px-3 rounded-lg" type="submit" asp-controller="Music"
                    asp-action="SearchParam">
                    Pesquisar
                </button>
            </form>
        </div>
    </div>

    <div class="pt-4 p-2">
        <button class="btn-type-search text-white selected btn py-2 px-3 rounded-full" onclick="setSearchType('Tudo')">
            Tudo
        </button>
        <button class="btn-type-search text-white btn py-2 px-3 rounded-full" onclick="setSearchType('Artista')">
            Artista
        </button>
        <button class="btn-type-search text-white btn py-2 px-3 rounded-full" onclick="setSearchType('Album')">
            Álbum
        </button>
        <button class="btn-type-search text-white btn py-2 px-3 rounded-full" onclick="setSearchType('Musica')">
            Música
        </button>

    </div>


    @if (Model is not null)
    {
        <div class="w-full py-6">
            
        </div>
    }


</section>

<script>
    function setSearchType(type) {
        document.getElementById('searchType').value = type;
        document.getElementById('searchButton').click();
    }
</script>