@model UserModel?

@if (Model is null)
{
    <nav class="ml-auto flex gap-4 sm:gap-6">
        <a class="text-sm font-medium hover:underline underline-offset-4 text-muted-foreground" href="#" rel="ugc">
            Premium
        </a>
        <a class="text-sm font-medium hover:underline underline-offset-4 text-muted-foreground" href="#" rel="ugc">
            Support
        </a>
        <a class="text-sm font-medium hover:underline underline-offset-4 text-muted-foreground" href="#" rel="ugc">
            Download
        </a>
    </nav>
}
@if (Model is not null)
{
    <nav class="ml-auto flex gap-4 sm:gap-6">
        <a class="text-sm font-medium hover:underline underline-offset-4 text-muted-foreground" asp-controller="Home"
            asp-action="Index">
            Home
        </a>
        <a href="#" class="text-sm font-medium hover:underline underline-offset-4 text-muted-foreground">
            Search
        </a>
        <a class="text-sm font-medium hover:underline underline-offset-4 text-muted-foreground" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Sua coleção
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-controller="User" asp-action="Index">Perfil</a></li>
            <li><a class="dropdown-item" asp-controller="Login" asp-action="Logout">Sair</a></li>
        </ul>
    </nav>
}
