html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.field-validation-error {
  color: rgb(214, 0, 0);
}

.notify-animation{
  animation: bounce-once .5s linear;
}

@keyframes bounce-once {
  0% {
    transform: translateX(100%);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateX(-10%);
    animation-timing-function: ease-in;
  }
  70% {
    transform: translateX(5%);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateX(0%);
    animation-timing-function: ease-in;}
}