html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.field-validation-error {
  color: rgb(214, 0, 0);
}

.notify-animation{
  animation: bounce-once .5s linear;
}

@keyframes bounce-once {
  0% {
    transform: translateX(100%);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateX(-10%);
    animation-timing-function: ease-in;
  }
  70% {
    transform: translateX(5%);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateX(0%);
    animation-timing-function: ease-in;}
}

.carousel-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 20px;
}
.carousel-slide {
    display: none;
    animation: bounce-once .5s linear;
    width: 400px;
    height: 400px;
}
.carousel-slide img {
    width: 100%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.btn-type-search{
  background-color: black;
}

.selected{
  background-color: #1DB954;
}